.react_auth_base:
  image: node:20.19.5@sha256:47dacd49500971c0fbe602323b2d04f6df40a933b123889636fc1f76bf69f58a
  before_script:
    - apt-get -qq update
    - apt-get install -y jq
    - corepack enable
    - cd packages/react-auth
    - yarn install --immutable
  cache:
    - key:
        files:
          - packages/react-auth/yarn.lock
      paths:
        - packages/react-auth/node_modules

publish_react_auth:
  extends: .react_auth_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-auth/**/*
      when: always

tag_react_auth:
  extends: .react_auth_base
  stage: tag_release
  script:
    - apt install -y python3 python3-github
    - VERSION=$(node -p "require('./package.json').version")
    - cp ../../scripts/tag_release.py .
    - python3 tag_release.py ${GITHUB_TOKEN} ${VERSION} ${CI_COMMIT_SHA} "react-auth" "React Auth"
    - rm tag_release.py
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-auth/**/*
      when: always
