.react_auth_base:
  image: node
  before_script:
    - cd packages/react-auth
    - yarn install --frozen-lockfile
    - apt-get -qq update
    - apt-get install -y jq
  cache:
    - key:
        files:
          - yarn.lock
      paths:
        - node_modules

publish_react_auth:
  extends: .react_auth_base
  stage: Publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-auth/**/*
      when: always

tag_react_auth:
  extends: .react_auth_base
  stage: Tag Release
  script:
    - apt-get install python -y
    - pip install PyGithub
    - VERSION=$(node -p "require('./package.json').version")
    - cp ../../scripts/tag_release.sh .
    - ./tag_release.sh ${GITHUB_TOKEN} ${VERSION} "react-auth" "React Auth" ${CI_COMMIT_SHA}
    - rm tag_release.sh
