default:
  image: node:18.20.4@sha256:a7ff16657263663c1e92ba3060cdbba0e77329a0a4cb3c27bbbbe90c6e20bd87
  tags:
    - pangea-internal

stages:
  - build
  - lint
  - integration_tests
  - publish
  - tag_release
  - examples

.packages_base:
  before_script:
    - yarn install --frozen-lockfile
  cache:
    - key:
        files:
          - yarn.lock
      paths:
        - node_modules

include:
  - /examples/.examples-ci.yml
  - /packages/pangea-node-sdk/.gitlab-ci.yml
  - /packages/react-auth/.gitlab-ci.yml
  - /packages/react-mui-audit-log-viewer/.gitlab-ci.yml
  - /packages/react-mui-authn/.gitlab-ci.yml
  - /packages/react-mui-branding/.gitlab-ci.yml
  - /packages/react-mui-shared/.gitlab-ci.yml
  - /packages/react-mui-store-file-viewer/.gitlab-ci.yml
  - /packages/vanilla-js/.gitlab-ci.yml
  - /packages/webcomponents/.gitlab-ci.yml
