default:
  image: node
  tags:
    - pangea-internal

stages:
  - Lint
  - Unit Test
  - Integration Test
  - Publish
  - Tag Release
  - Test Public

.packages_base:
  image: node
  before_script:
    - yarn install
  cache:
    - key:
        files:
          - yarn.lock
      paths:
        - node_modules

lint_packages:
  extends: .packages_base
  stage: Lint
  script:
    - yarn lint

include:
  - /packages/react-mui-shared/.gitlab-ci.yml
  - /packages/react-mui-branding/.gitlab-ci.yml
  - /packages/react-mui-authn/.gitlab-ci.yml
  - /packages/react-mui-audit-log-viewer/.gitlab-ci.yml
  - /packages/react-auth/.gitlab-ci.yml
  - /packages/pangea-node-sdk/.gitlab-ci.yml
  - /examples/react-audit-log-viewer/.gitlab-ci.yml
  - /examples/vanilla-js/.gitlab-ci.yml
