default:
  image: node:20.20.0@sha256:e6a7877d6086eca03cda23bbe06a9b08316ad4fc567e0f6863320dd83dda3a75
  tags:
    - pangea-internal

stages:
  - build
  - lint
  - integration_tests
  - publish
  - tag_release
  - examples

include:
  - /examples/.gitlab-ci.yml
  - /packages/pangea-node-sdk/.gitlab-ci.yml
  - /packages/react-auth/.gitlab-ci.yml
  - /packages/react-mui-audit-log-viewer/.gitlab-ci.yml
  - /packages/react-mui-authn/.gitlab-ci.yml
  - /packages/react-mui-branding/.gitlab-ci.yml
  - /packages/react-mui-shared/.gitlab-ci.yml
  - /packages/react-mui-share-file-viewer/.gitlab-ci.yml
  - /packages/vanilla-js/.gitlab-ci.yml
  - /packages/webcomponents/.gitlab-ci.yml
