build_react_mui_share_file_viewer:
  needs: []
  stage: build
  image: node:20.20.0@sha256:e6a7877d6086eca03cda23bbe06a9b08316ad4fc567e0f6863320dd83dda3a75
  timeout: 10m
  retry:
    max: 2
    when:
      - job_execution_timeout
      - stuck_or_timeout_failure
  script:
    - corepack enable
    - cd packages/react-mui-share-file-viewer
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    paths: ["packages/react-mui-share-file-viewer/dist"]
    when: on_success
  rules:
    - changes:
        - packages/react-mui-share-file-viewer/**/*
      when: always

publish_react_mui_share_file_viewer:
  needs: [build_react_mui_share_file_viewer]
  stage: publish
  image: node:20.20.0@sha256:e6a7877d6086eca03cda23bbe06a9b08316ad4fc567e0f6863320dd83dda3a75
  script:
    # Install jq for the publish script.
    - apt-get -qq update
    - apt-get install -y jq
    - corepack enable
    - cd packages/react-mui-share-file-viewer
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-share-file-viewer/**/*
      when: always
