build_react_mui_share_file_viewer:
  needs: []
  stage: build
  image: node:20.19.5@sha256:47dacd49500971c0fbe602323b2d04f6df40a933b123889636fc1f76bf69f58a
  timeout: 10m
  retry:
    max: 2
    when:
      - job_execution_timeout
      - stuck_or_timeout_failure
  script:
    - corepack enable
    - cd packages/react-mui-share-file-viewer
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    paths: ["packages/react-mui-share-file-viewer/dist"]
    when: on_success
  rules:
    - changes:
        - packages/react-mui-share-file-viewer/**/*
      when: always

publish_react_mui_share_file_viewer:
  needs: [build_react_mui_share_file_viewer]
  stage: publish
  image: node:20.19.5@sha256:47dacd49500971c0fbe602323b2d04f6df40a933b123889636fc1f76bf69f58a
  script:
    # Install jq for the publish script.
    - apt-get -qq update
    - apt-get install -y jq
    - corepack enable
    - cd packages/react-mui-share-file-viewer
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-share-file-viewer/**/*
      when: always
