.webcomponents_base:
  image: node:20.20.0@sha256:e6a7877d6086eca03cda23bbe06a9b08316ad4fc567e0f6863320dd83dda3a75
  before_script:
    - cd packages/webcomponents
    - yarn install --immutable
    - apt-get -qq update
    - apt-get install -y jq

publish_webcomponents:
  extends: .webcomponents_base
  needs: []
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/webcomponents/**/*
      when: always

tag_webcomponents:
  extends: .webcomponents_base
  needs: [publish_webcomponents]
  stage: tag_release
  script:
    - apt install -y python3 python3-github
    - VERSION=$(node -p "require('./package.json').version")
    - cp ../../scripts/tag_release.py .
    - python3 tag_release.py ${GITHUB_TOKEN} ${VERSION} ${CI_COMMIT_SHA} "webcomponents" "Webcomponents"
    - rm tag_release.py
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/webcomponents/**/*
      when: always
