.vanilla_js_base:
  image: node:20.20.0@sha256:65b74d0fb42134c49530a8c34e9f3e4a2fb8e1f99ac4a0eb4e6f314b426183a2
  before_script:
    - cd packages/vanilla-js
    - yarn install
    - apt-get -qq update
    - apt-get install -y jq

publish_vanilla_js:
  extends: .vanilla_js_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/vanilla-js/**/*
      when: on_success
