.react_mui_shared_base:
  image: node:20.19.6@sha256:e034ee75c646d425d5986eb0be4ce53846b61f97390125ce5c37da904ca0ee56
  before_script:
    - cd packages/react-mui-shared
    - yarn install --frozen-lockfile
    - apt-get -qq update
    - apt-get install -y jq
  cache:
    - key:
        files:
          - packages/react-mui-shared/yarn.lock
      paths:
        - packages/react-mui-shared/node_modules

publish_react_mui_shared:
  extends: .react_mui_shared_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-shared/**/*
      when: on_success
