.react_mui_audit_log_viewer_base:
  image: node:20.19.5@sha256:ba36e9b2705008e63e354214f0e3011c528af9df2ca13ac2bd2c0114650302e6
  before_script:
    - apt-get -qq update
    - apt-get install -y jq
    - corepack enable
    - cd packages/react-mui-audit-log-viewer
    - yarn install --immutable

publish_react_mui_audit_log_viewer:
  extends: .react_mui_audit_log_viewer_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-audit-log-viewer/**/*
      when: always
