.react_mui_audit_log_viewer_base:
  image: node:20.19.6@sha256:e034ee75c646d425d5986eb0be4ce53846b61f97390125ce5c37da904ca0ee56
  before_script:
    - apt-get -qq update
    - apt-get install -y jq
    - corepack enable
    - cd packages/react-mui-audit-log-viewer
    - yarn install --immutable

publish_react_mui_audit_log_viewer:
  extends: .react_mui_audit_log_viewer_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-audit-log-viewer/**/*
      when: always
