.react_mui_audit_log_viewer_base:
  image: node:20.13.0@sha256:b6e7fef05c7609784c320e5c746aaf8d49221ec0eb3c1242fb673099511b0583
  before_script:
    - cd packages/react-mui-audit-log-viewer
    - yarn install
    - apt-get -qq update
    - apt-get install -y jq
  cache:
    - key:
        files:
          - yarn.lock
      paths:
        - node_modules

publish_react_mui_audit_log_viewer:
  extends: .react_mui_audit_log_viewer_base
  stage: publish
  script:
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-audit-log-viewer/**/*
      when: always
