build_react_mui_store_file_viewer:
  stage: build
  image: node:20.12.0@sha256:bf0ef0687ffbd6c7742e1919177826c8bf1756a68b51f003dcfe3a13c31c65fe
  cache:
    - key:
        files:
          - packages/react-mui-store-file-viewer/yarn.lock
      paths:
        - packages/react-mui-store-file-viewer/.yarn
  script:
    - cd packages/react-mui-store-file-viewer
    - yarn install --frozen-lockfile --cache-folder .yarn
    - yarn build
  artifacts:
    paths: ["packages/react-mui-store-file-viewer/dist"]
    when: on_success

publish_react_mui_store_file_viewer:
  needs: [build_react_mui_store_file_viewer]
  stage: publish
  image: node:20.12.0@sha256:bf0ef0687ffbd6c7742e1919177826c8bf1756a68b51f003dcfe3a13c31c65fe
  script:
    # Install jq for the publish script.
    - apt-get -qq update
    - apt-get install -y jq

    - cd packages/react-mui-store-file-viewer
    - cp ../../scripts/publish.sh .
    - echo "${NPMRC}" > .npmrc && ./publish.sh && rm .npmrc
    - rm publish.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/react-mui-store-file-viewer/**/*
      when: always
