name: CI

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest

    outputs:
      examples-matrix: ${{ steps.examples-matrix.outputs.examples-matrix }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Calculate `examples-matrix` output
        id: examples-matrix
        working-directory: ./examples
        env:
          JQ_FILTER: >-
            "examples-matrix=" + (split("\n") | map(select(length > 0)) | tostring)
        run: find . -type f -name 'yarn.lock' -printf '%h\n' | cut -c 3- | sort -u | jq -cRrs '${{ env.JQ_FILTER }}' >> "$GITHUB_OUTPUT"

  prefetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

  build:
    needs: [prefetch]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/pangea-node-sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: ./packages/pangea-node-sdk/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - run: yarn list

      - name: Build
        run: yarn build

      - name: Pack
        run: yarn pack

      - name: Upload
        uses: actions/upload-artifact@v4.3.1
        with:
          name: pangea-node-sdk-package
          path: ./packages/pangea-node-sdk/pangea-node-sdk-v*.tgz

  test-unit:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20]
    defaults:
      run:
        working-directory: ./packages/pangea-node-sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: ./packages/pangea-node-sdk/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - run: yarn list

      - name: Unit test
        run: yarn test:unit --ci --coverage

  examples:
    needs: [setup, prefetch, build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example: ${{ fromJSON(needs.setup.outputs.examples-matrix) }}
    defaults:
      run:
        working-directory: ./examples/${{ matrix.example }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: ./examples/${{ matrix.example }}/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Download locally built pangea-node-sdk
        uses: actions/download-artifact@v4.1.2
        with:
          name: pangea-node-sdk-package
          path: ./packages/pangea-node-sdk

      - name: Extract locally built pangea-node-sdk
        run: tar -xf pangea-node-sdk-v*.tgz --strip-components 1 -C .
        working-directory: ./packages/pangea-node-sdk

      - run: yarn list

  examples-react-audit-log-viewer:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/react-audit-log-viewer
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: ./examples/react-audit-log-viewer/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - run: yarn list

      - name: Build
        run: yarn build

      - name: Unit test
        run: yarn test

      - name: Cypress run
        uses: cypress-io/github-action@v6.6.1
        with:
          start: yarn start:ci
          working-directory: ./examples/react-audit-log-viewer
